<!--member.vtl-->
<h1>$member.getFirstName() $member.getLastName()</h1>
<h3>The role: </h3>
<h3>Current employer: </h3>

<a href="/teams/$team.getId()/members/new">Add a New Member to a Team</a>
<a href="/members">All memberss</a>
<!--member.vtl-->