<!--team-members-success.vtl-->

<h3>$member.getFirstName() $member.getLastName() has been added to the "$team.getName()" team.</h3>

<a href="/teams/$team.getId()">View "$team.getName()"</a>
<br>
<a href="/teams/$team.getId()/members/new">Add a New Member</a>
<br>
<a href="/teams">View All Teams</a>
<!--team-members-success.vtl-->